* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}
body { 
  background-color: #0f0f0f;
  font-family:'inter var', sans-serif;
  font-feature-settings: "calt","liga";
}

.fire_background {
  background-image: url("./Images/backimg1.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  position: fixed;
  top: -250px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.fire_background_2 {
  background-image: url("./Images/backimg4.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 1000px;
  height: 1000px;
  z-index: 1;
  left: -500px;
}

.fire_background_3 {
  margin-left: -780px;
  margin-top: -210px;
  margin-bottom: -700px;
}

.commonpadding {
  padding-inline: 100px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.main {
  background-color: black;
  height: 100%;
  opacity: 0.9;
  /* z-index: -10;  */
  /* border: 2px solid red; */
} 


/* header */

.navbtn1 {
  font-size: 30px;
  /* border: 1px solid white; */
  word-spacing: 7px;
}

#dropdownHover li a:hover {
  background-color: #ff725e;
}
/* section 1 */

.instance-child {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 25.63%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #222;
}
.image-19-icon {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 0;
  /* right: 6.18%;
  bottom: 10.65%;
  left: 8.95%; */
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.aerial-ace {
  position: absolute;
  top: 80%;
  left: 18%;
  display: inline-block;
  min-width: 83px;
  font-size: 14px;
  z-index: 2;
  color: white;
}
.rectangle-parent {
  align-self: stretch;
  height: 140px;
  position: relative;
}

/* .instance-child {
  position: absolute;
  height: 84.31%;
  width: 100%;
  top: 15.69%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #222;
  box-sizing: border-box;
} */


.Charizard_img {
  width: 100%;
}

.rectangle-parent:hover .instance-child{
  color: #ff4210;
  border-radius: 11.96px;
  background-color: #c8bcba;
  border: 2px solid #ff4210;
  box-sizing: border-box;
  height: 84.31%;
  position: absolute;
  top: 25.63%;
  left: 0;
  width: 75%;
  height: 75%;
}

.aerial-ace:hover {
  color: #ff4210;
}

.attacks,
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.attacks {
  width: 204.4px;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 20px;
  z-index: 2;
  font-size: 15.9px;
  font-family: Epilogue;
}
.sectionhead {
  width: 437px;
  gap: 32px;
  font-size: 33px;
  /* border: 2px solid white; */
}

.minus-rotate-90 {
  transform: rotate(-90deg);
}

.unleash_the_text {
  font-size: 35%;
  text-wrap: nowrap;
  font-weight:300;
}
.fireWith_text {
  font-size: 130%;
  text-wrap: nowrap;
}

.explore-the-charizard {
  margin: 0;
  width: 1237px;
  position: relative;
  font-size: 50px;
  font-weight: 300;
  font-family: inherit;
  text-align: center;
  justify-content: center;
  z-index: 2;
}
.value-transformer {
  position: absolute;
  top: 949px;
  left: 0;
  background: linear-gradient(180deg, rgba(15, 15, 15, 0), #0f0f0f);
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 27px 20px 70px 21px;
  box-sizing: border-box;
  gap: 268px;
  text-align: left;
  font-size: 47.9px;
  color: #fff;
  font-family: Epilogue;
}

/* section 2 */




/* section 3 */
.section3 {
  margin-inline: auto;
}
.section3btn {
  font-weight: 450;
  font-size: 35px;
  width: 100%;
}
.section3btn:hover {
  text-decoration: underline;
}

.section3ptext {
  font-weight: 400;
  font-size: 20px;
  width: 60%;
}

/* section 4 */
.section4div3 img {
  height: 375px;
}

.section4text {
  font-weight: 500;
}

/* section 5 */
.section5div {
  background-color: #fd4110;
  opacity: 0.8;
  border: 2px solid white;
  border-radius: 20px;
}

.section5 {
  background-color: black;
  background-image: url("./Images/backimg3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.formsign button {
  border: 2px solid white;
  background-color: #fd4110;
}
.formsign button:hover {
  background-color: #fb3707;
}

/* footer css */


@media screen and (max-width: 1200px) {
  .footerDiv2 {
    text-align: center;
    justify-content: center;
  }
  .footerDiv2 a {
    /* align-items: center; */
    justify-content: center;
  }
}
@media screen and (max-width: 1344px) {
  
  .section5divh {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
  }

  .section4div3 img {
    height: 325px;
  }



  .navbtn1 {
    font-size: 20px;
  
    /* border: 1px solid white; */
    word-spacing: 0px;
  }
}

@media screen and (max-width: 1270px) {
  .section3btn {
    font-weight: 550;
    font-size: 25px;
    width: 100%;
  }

  .section3ptext {
    font-weight: 400;
    font-size: 20px;
    width: 100%;
  }



  .section4div3 img {
    height: 280px;
  }

  .section5div{
height: max-content; 
  }
  .section5subdiv{
    width: 50%;
    height: auto;
    margin-bottom: 10px;
  }
  .formdiv{
width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  
  .section5divh {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
  }
  .section4div3 img {
    height: 230px;
  }
  .section4text {
    font-size: 12px;
  }
}
@media screen and (max-width: 1025px) {
  .section4div1 {
    justify-content: center;
    align-items: center;

  }
  .section4div3 img {
    height: 250px;
  }
  .section4div3 {
    width: 400px;

    margin-top: 20px;
  }
}

@media screen and (max-width: 950px) {
  .section3btn {
    font-weight: 750;
    font-size: 20px;
    width: 70%;
  }

  .section3ptext {
    font-weight: 600;
    font-size: 15px;
    width: 100%;
  }

  
}

@media screen and (max-width: 870px) {
  .section3btn {
    font-weight: 750;
    font-size: 15px;
    width: 70%;
  }

  .section4div1 {
    justify-content: center;
    align-items: center;
  }
  .section4div3 img {
    height: 250px;
  }
  .section4div3 {
    width: 400px;

    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  

  .section5divh {
  text-align: start;
  }
  .section3btn {
    text-align: center;
    width: 60%;
  }
  .section4div1 {
    justify-content: center;
    align-items: center;
  }
  .section4div3 img {
    height: 250px;
  }
  .section4div3 {
    width: 400px;
    margin-top: 20px;
  }
}
